$main-color: #000088;

.guess-number {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 10px;
  border: thick double $main-color;
  border-radius: 10px;
  color: $main-color;

  &__title,
  &__label {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    color: blue;
  }
  &__input {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 3px;

    &:hover {
      box-shadow: 0 1px 4px 3px $main-color;
    }

    &.disabled {
      background-color: rgba(239, 239, 239, 0.3);
      opacity: 0.3;

      &:hover {
        box-shadow: none;
      }
    }
  }

  #resetGameButton {
    background: blue;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 7px;

    &:hover {
      box-shadow: 0 1px 4px 3px $main-color;
      cursor: pointer;
    }
  }

  &__input {
    &:focus {
      outline: thick double $main-color;
    }

    &:nth-child(4) {
      border: 1px $main-color dashed;
    }
  }
}