$base-color: blue;

.randomizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: blue;
  margin: 10%;
  text-align: center;
  background: lightblue;
  border-radius: 20px;

  &__header {
    text-transform: uppercase;
  }
  &-form {
    &__label {
      display: block;
      padding: 10px;
    }
    &__input {
      padding: 3px 10px;
      border: 1px solid darkgray;
      border-radius: 5px;

      &:focus {
        outline: thick double white;
      }

      &:nth-child(4) {
        border: 1px $base-color dashed;
      }
    }
  }
  &-form__button,
  &__button-reset {
    background: repeating-linear-gradient(45deg, blue, transparent 100px);
    color: white;
    font-weight: 700;
    border: 3px solid;
    border-radius: 5px;
    padding: 5px 17px;
    margin: 5px;

    &:hover {
      box-shadow: 0 1px 4px 3px grey;
      cursor: pointer;
    }

    &.disabled {
      background: grey;
      color: white;
      cursor: not-allowed;

      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
  &__generate {
    margin: 10px;
  }
}